<!-- 
<div class="img-banner" style="width:100%;margin:1em auto;" >
  <a href="/products/christmas-diorama-circuit-kit">
  	<img src={{'christmaskit.png'|asset_url}}>
  </a>
</div>
-->
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
